		<!-- Header -->
			<header id="header">
				<div class="inner">
					<a href="#" class="image avatar"><img src="/assets/lion.png" alt="" /></a>
					<h1><strong>CowGroup!!</strong></h1>
					<p>자신만의 소그룹을 만들어 얘기해봅시다.</p>
					<a href="/main/create" class="button">소그룹생성하기</a><br><br>
					<a href="/users/login" class="button">로그아웃</a>
				</div>
			</header>



		<!-- Main -->
			<div id="main">
				<div>
            	    <center>
            	    <form action="/main/search" method="post">
                      <input type="text" name="search" placeholder="검색 할 닉네임을 적어주세요.">
                    </form>
            		</center>
                </div>
					<section>
					    <center><h1 style="margin-bottom: 0.5em;">스터디</h1></center>
						<div class="row">
						    <% @list1.each do |l| %>
							<article class="6u 12u$(xsmall) work-item">
								<a href="/main/view/<%= l.id %>" class="image fit thumb"><img src="/assets/study.png" alt="" /></a>
								<h3><%= l.gp_name %></h3>
								<p><%= l.content %></p>
							</article>
							<% end %>
						</div>
					</section>
					<section>
					    <center><h1 style="margin-bottom: 0.5em;">재능기부</h1></center>
						<div class="row">
						    <% @list2.each do |l| %>
							<article class="6u 12u$(xsmall) work-item">
								<a href="/main/view/<%= l.id %>" class="image fit thumb"><img src="/assets/talent.jpg" alt="" /></a>
								<h3><%= l.gp_name %></h3>
								<p><%= l.content %></p>
							</article>
							<% end %>
						</div>
					</section>
			</div>


		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.poptrox.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets/js/main.js"></script>

